:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--grey-blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --grey-blue: #282d35;
  --light-blue: #364050;
  --dark-blue: #22252c;
  --dark-dark-blue: #181b21;
  --light: rgba(255, 255, 255, 0.87);
  --light-grey: #bebfc2;
  --orange-accent: #de843f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
